/* BFI Table Styling */
table.bfi {
	border-collapse:collapse;
	border: 1px solid black;
}
table.bfi > thead > tr > th, table.bfi th
{
	border: 1px solid black;
	font-weight:bold;
	padding:5px 10px;	
}

table.bfi > tbody > tr > td , table.bfi td{
	padding:5px;
	border: 1px solid #333;
}
table.bfi > thead > tr{
	background-color:#EEE;
	font-size:16px;
	line-height:1.3em !important;
	padding:0.6em 0 0.6em 0;
	margin:0 0 0 -0.07em;
	font-style:normal;
	font-weight:normal;
	font-family:Arial,'Lucida Sans',Verdana,sans-serif;
}
table.bfi > tbody > tr.even {
	background: #030303 url(../../images/grd-white5.png) left top repeat-x;
	background-color: #030303;
	color: #fff;
}
table.bfi > tbody > tr.odd {
	color: #1569FF;
}

.datagrid table { border-collapse: collapse; text-align: left; width: 100%; } .datagrid {font: normal 12px/150% Verdana, Arial, Helvetica, sans-serif; background: #fff; overflow: hidden; border: 1px solid #030303; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }.datagrid table td, .datagrid table th { padding: 3px 10px; }.datagrid table thead th {background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #1569A2), color-stop(1, #1569A2) );background:-moz-linear-gradient( center top, #1569A2 5%, #1569A2 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1569A2', endColorstr='#1569A2');background-color:#1569A2; color:#FFFFFF; font-size: 15px; font-weight: bold; border-left: 1px solid #030303; } .datagrid table thead th:first-child { border: none; }.datagrid table tbody td { color: #1569FF; border-left: 1px solid #030303;font-size: 12px;font-weight: normal; }.datagrid table tbody .alt td { background: #1569FF; color: #FFFFFF; }.datagrid table tbody td:first-child { border-left: none; }.datagrid table tbody tr:last-child td { border-bottom: none; }.datagrid table tfoot td div { border-top: 1px solid #030303;background: #1569A2;} .datagrid table tfoot td { padding: 0; font-size: 12px } .datagrid table tfoot td div{ padding: 2px; }.datagrid table tfoot td ul { margin: 0; padding:0; list-style: none; text-align: right; }.datagrid table tfoot  li { display: inline; }.datagrid table tfoot li a { text-decoration: none; display: inline-block;  padding: 2px 8px; margin: 1px;color: #FFFFFF;border: 1px solid #030303;-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #1569FF), color-stop(1, #1569FF) );background:-moz-linear-gradient( center top, #1569FF 5%, #1569FF 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1569FF', endColorstr='#1569FF');background-color:#1569FF; }.datagrid table tfoot ul.active, .datagrid table tfoot ul a:hover { text-decoration: none;border-color: #030303; color: #FFFFFF; background: none; background-color:#1569FF;}