/* BFI Table Styling */
table.bfi {
	border-collapse:collapse;
	border: 1px solid black;
}
table.bfi > thead > tr > th, table.bfi th
{
	border: 1px solid black;
	font-weight:bold;
	padding:5px 10px;	
}

table.bfi > tbody > tr > td , table.bfi td{
	padding:5px;
	border: 1px solid #333;
}
table.bfi > thead > tr{
	background-color:#EEE;
	font-size:16px;
	line-height:1.3em !important;
	padding:0.6em 0 0.6em 0;
	margin:0 0 0 -0.07em;
	font-style:normal;
	font-weight:normal;
	font-family:Arial,'Lucida Sans',Verdana,sans-serif;
}
table.bfi > tbody > tr.even {
	background: #030303 url(../../images/grd-white5.png) left top repeat-x;
	background-color: #030303;
	color: #fff;
}
table.bfi > tbody > tr.odd {
	color: #1569FF;
}