body {
background-color:#dce9ef;
background-image:none;
}

#site-wrapper {
background-image:url(../../images/patterns/gradient-black-60.png);
}

ul.top-menu > li > a:hover,ul.top-menu > li.hover-has-ul > a,ul.top-menu > li.hover-has-ul > a:hover,#topmess a:hover,#selectElement {
color:#fff !important;
}

ul.top-menu > li.current-menu-item > a,ul.top-menu > li.current-menu-ancestor > a {
color:#dae7ed;
background-color:#050f14;
}

#menuwrapper,#searchform input#searchsubmit,.feedemail-form .feedemail-button,.pr-bar h3,.kul,.prdcts h3,.wp-pagenavi span.current,div.item-list-tabs,#selectElement option {
background-color:#309bc9;
}

.wp-pagenavi span.current {
border-color:#309bc9;
}

ul.top-menu > li > a:hover,ul.top-menu > li.hover-has-ul > a,ul.top-menu > li.hover-has-ul > a:hover,ul.top-menu li.basic ul li a:hover,ul.top-menu li.basic ul li.current-cat > a:hover,ul.top-menu li.basic ul li.current_page_item > a:hover {
background-color:#050f14 !important;
}

ul.top-menu > li {
background:url(../../images/line-white-20.png) top right repeat-y;
}

ul.top-menu {
background-image:url(../../images/line-white-20.png);
}

#subfooter {
background-image:url(../../images/shadow.png);
height:39px;
}

#footerarea,#footerarea li,#footerarea p,#footerarea td,#footerarea th,#footerarea span,#footerarea div,#footerarea #wp-calendar tbody a {
color:#adadad;
}

#footerarea a {
color:#4aa6cb;
}

#wp-calendar a,#footerarea .tag-cloud a:hover {
background:#4aa6cb;
}

/* P a n d a   s l i d e r   t a b s */
.ps-1 .pnavbar span:hover {
color:#050f14;
border-top:3px solid #050f14;
}

.tag-cloud a:hover {
background:#050f14;
}

/* t 1   b u t t o n s */
.t1-button-holder a:hover span {
background-color:#2687ad;
border-color:#2687ad;
}

#subnav li.current a {
background:#2687ad;
}

a:hover {
color:#050f14;
}

/* C u s t o m   p o s t s   c a t e g o r y  t a b s */
.ctabs a:hover {
border-top:3px solid #050f14;
color:#050f14;
}

body #copyrights * {
color:#000 !important;
}

.sidebar-wrapper {
background:#F0F9FD;
}

.padder div.pagination {
background:#DCE9EF;
}

ul.top-menu > li > a,#topmess,#topmess a,#topmess strong,#footer h1,#footer h2,#footer h3,#footer h4,#footer h,#footer h5,#footer h6,#footer .dropcap {
color:#fff;
}

#footerarea,.widget ul.menu > li > a:hover,.ps-1 .pnavbar span:hover strong,.ps-1 .pnavbar span.pscurrent:hover strong,.ctabs a:hover span,.ctabs a.current:hover span {
background-color:#050f14;
}

a,#header h1.logo a strong,h2 a,h3 a,h4 a,h5 a,h6 a,li.kcurrent,.kul li:hover,li.current,#item-nav a:hover,#item-nav .selected a,#item-nav .current a {
color:#2687ad;
}

.tgl-1 .ta {
color:#2687ad;
}

.tgl-1.tclicked .ta {
background-color:#2687ad;
}

.demo-W,.ps-1 .pnavbar span.pscurrent strong,.ctabs a.current span,a.bbutton2,#wp-calendar a,#searchform input#searchsubmit:hover,.feedemail-form .feedemail-button:hover,/* C u s t o m m e n u w i d g e t */
.widget ul.menu > li > a:hover {
background-color:#2687ad;
}

.ps-1 .pnavbar span.pscurrent,.ctabs a.current {
border-top:3px solid #2687ad;
color:#2687ad;
}

#before_product {
background-color:#F0F9FD;
}

/* Style Tabs */

.tabber-widget-default {
}
.tabber-widget-default ul.tabber-widget-tabs {
background-color: #309bc9;
}
.tabber-widget-default a {
}
.tabber-widget-default ul.tabber-widget-tabs li {

}
.tabber-widget-default ul.tabber-widget-tabs li:before {
}
.tabber-widget-default ul.tabber-widget-tabs a {
}
.tabber-widget-default ul.tabber-widget-tabs a:hover ,.tabber-widget-default ul.tabber-widget-tabs a.selected,
.tabber-widget-default ul.tabber-widget-tabs a.selected:hover {
color: #2687ad;
}

.tabber-widget-default .tabber-widget-content {
}

/* Style Content */

.tabber-widget-default .tabber-widget-content {
}
.tabber-widget-default .tabber-widget-content .tabber-widget-title {
}

/* BFI Table Styling */
table.bfi {
	border-collapse:collapse;
	border: 1px solid black;
}
table.bfi > thead > tr > th, table.bfi th
{
	border: 1px solid black;
	font-weight:bold;
	padding:5px 10px;	
}

table.bfi > tbody > tr > td , table.bfi td{
	padding:5px;
	border: 1px solid #050f14;
}
table.bfi > thead > tr{
	background-color:#EEE;
	font-size:16px;
	line-height:1.3em !important;
	padding:0.6em 0 0.6em 0;
	margin:0 0 0 -0.07em;
	font-style:normal;
	font-weight:normal;
	font-family:Arial,'Lucida Sans',Verdana,sans-serif;
}
table.bfi > tbody > tr.even {
	background: #030303 url(../../images/grd-white5.png) left top repeat-x;
	background-color: #309bc9;
	color: #fff;
}
table.bfi > tbody > tr.odd {
	color: #2687ad;
}

.datagrid table { border-collapse: collapse; text-align: left; width: 100%; } .datagrid {font: normal 12px/150% Verdana, Arial, Helvetica, sans-serif; background: #fff; overflow: hidden; border: 1px solid #030303; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }.datagrid table td, .datagrid table th { padding: 3px 10px; }.datagrid table thead th {background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #DCE9EF), color-stop(1, #DCE9EF) );background:-moz-linear-gradient( center top, #DCE9EF 5%, #DCE9EF 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#DCE9EF', endColorstr='#DCE9EF');background-color:#DCE9EF; color:#000000; font-size: 15px; font-weight: bold; border-left: 1px solid #030303; } .datagrid table thead th:first-child { border: none; }.datagrid table tbody td { color: #2687AD; border-left: 1px solid #030303;font-size: 12px;font-weight: normal; }.datagrid table tbody .alt td { background: #2687AD; color: #FFFFFF; }.datagrid table tbody td:first-child { border-left: none; }.datagrid table tbody tr:last-child td { border-bottom: none; }.datagrid table tfoot td div { border-top: 1px solid #030303;background: #DCE9EF;} .datagrid table tfoot td { padding: 0; font-size: 12px } .datagrid table tfoot td div{ padding: 2px; }.datagrid table tfoot td ul { margin: 0; padding:0; list-style: none; text-align: right; }.datagrid table tfoot  li { display: inline; }.datagrid table tfoot li a { text-decoration: none; display: inline-block;  padding: 2px 8px; margin: 1px;color: #FFFFFF;border: 1px solid #030303;-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #2687AD), color-stop(1, #2687AD) );background:-moz-linear-gradient( center top, #2687AD 5%, #2687AD 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2687AD', endColorstr='#2687AD');background-color:#2687AD; }.datagrid table tfoot ul.active, .datagrid table tfoot ul a:hover { text-decoration: none;border-color: #030303; color: #FFFFFF; background: none; background-color:#2687AD;}
