body {
background-color:#fec133;
background-image:url(../../images/patterns/oblique_lines.png);
background-position:top center;
background-repeat:repeat;
background-attachment:fixed;
}

ul.top-menu > li > a:hover,ul.top-menu > li.hover-has-ul > a,ul.top-menu > li.hover-has-ul > a:hover,#topmess a:hover {
color:#fff !important;
}

#menuwrapper,#searchform input#searchsubmit,.feedemail-form .feedemail-button,.pr-bar h3,.kul,.prdcts h3,.wp-pagenavi span.current,div.item-list-tabs,#selectElement option {
background-color:#1c1c1c;
}

.wp-pagenavi span.current {
border-color:#1c1c1c;
}

ul.top-menu > li > a:hover,ul.top-menu > li.hover-has-ul > a,ul.top-menu > li.hover-has-ul > a:hover,ul.top-menu li.basic ul li a:hover,ul.top-menu li.basic ul li.current-cat > a:hover,ul.top-menu li.basic ul li.current_page_item > a:hover {
background-color:#fec133 !important;
}

/* t 1   b u t t o n s */
.t1-button-holder a:hover span {
background-color:#f90;
border-color:#f90;
}

body #copyrights * {
color:#1c1c1c !important;
}

h1,h1 a,h2,h2 a,h3,h3 a,.it1 h3 a,.it2 h3 a,.it3 h3 a,h4,h4 a,h5,h5 a,h6,h6 a {
color:#1c1c1c;
}

a,#header h1.logo a strong,h2 a,h3 a,h4 a,h5 a,h6 a,.ps-1 .pnavbar span:hover,li.kcurrent,.kul li:hover,li.current,#item-nav a:hover,#item-nav .selected a,#item-nav .current a {
color:#f90;
}

.tgl-1 .ta {
color:#f90;
}

.tgl-1.tclicked .ta {
background-color:#f90;
}

.demo-W,.ps-1 .pnavbar span.pscurrent strong,.ctabs a.current span,a.bbutton2,#wp-calendar a,#searchform input#searchsubmit:hover,.feedemail-form .feedemail-button:hover,/* C u s t o m m e n u w i d g e t */
.widget ul.menu > li > a:hover {
background-color:#f90;
}

.ps-1 .pnavbar span.pscurrent,.ctabs a.current {
border-top:3px solid #f90;
color:#f90;
}

.tag-cloud a:hover,#subnav li.current a {
background:#f90;
}

/* Style Tabs */

.tabber-widget-default {
}
.tabber-widget-default ul.tabber-widget-tabs {
background-color: #1c1c1c;
}
.tabber-widget-default a {
}
.tabber-widget-default ul.tabber-widget-tabs li {

}
.tabber-widget-default ul.tabber-widget-tabs li:before {
}
.tabber-widget-default ul.tabber-widget-tabs a {
}
.tabber-widget-default ul.tabber-widget-tabs a:hover ,.tabber-widget-default ul.tabber-widget-tabs a.selected,
.tabber-widget-default ul.tabber-widget-tabs a.selected:hover {
color: #f90;
}

.tabber-widget-default .tabber-widget-content {
}

/* Style Content */

.tabber-widget-default .tabber-widget-content {
}
.tabber-widget-default .tabber-widget-content .tabber-widget-title {
}

/* BFI Table Styling */
table.bfi {
	border-collapse:collapse;
	border: 1px solid black;
}
table.bfi > thead > tr > th, table.bfi th
{
	border: 1px solid black;
	font-weight:bold;
	padding:5px 10px;	
}

table.bfi > tbody > tr > td , table.bfi td{
	padding:5px;
	border: 1px solid #333;
}
table.bfi > thead > tr{
	background-color:#EEE;
	font-size:16px;
	line-height:1.3em !important;
	padding:0.6em 0 0.6em 0;
	margin:0 0 0 -0.07em;
	font-style:normal;
	font-weight:normal;
	font-family:Arial,'Lucida Sans',Verdana,sans-serif;
}
table.bfi > tbody > tr.even {
	background: #030303 url(../../images/grd-white5.png) left top repeat-x;
	background-color: #1c1c1c;
	color: #fff;
}
table.bfi > tbody > tr.odd {
	color: #f90;
}

.datagrid table { border-collapse: collapse; text-align: left; width: 100%; } .datagrid {font: normal 12px/150% Verdana, Arial, Helvetica, sans-serif; background: #fff; overflow: hidden; border: 1px solid #030303; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }.datagrid table td, .datagrid table th { padding: 3px 10px; }.datagrid table thead th {background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #1C1C1C), color-stop(1, #1C1C1C) );background:-moz-linear-gradient( center top, #1C1C1C 5%, #1C1C1C 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1C1C1C', endColorstr='#1C1C1C');background-color:#1C1C1C; color:#FFFFFF; font-size: 15px; font-weight: bold; border-left: 1px solid #030303; } .datagrid table thead th:first-child { border: none; }.datagrid table tbody td { color: #FF9900; border-left: 1px solid #030303;font-size: 12px;font-weight: normal; }.datagrid table tbody .alt td { background: #FEC133; color: #FFFFFF; }.datagrid table tbody td:first-child { border-left: none; }.datagrid table tbody tr:last-child td { border-bottom: none; }.datagrid table tfoot td div { border-top: 1px solid #030303;background: #1C1C1C;} .datagrid table tfoot td { padding: 0; font-size: 12px } .datagrid table tfoot td div{ padding: 2px; }.datagrid table tfoot td ul { margin: 0; padding:0; list-style: none; text-align: right; }.datagrid table tfoot  li { display: inline; }.datagrid table tfoot li a { text-decoration: none; display: inline-block;  padding: 2px 8px; margin: 1px;color: #FFFFFF;border: 1px solid #030303;-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #FEC133), color-stop(1, #FEC133) );background:-moz-linear-gradient( center top, #FEC133 5%, #FEC133 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FEC133', endColorstr='#FEC133');background-color:#FEC133; }.datagrid table tfoot ul.active, .datagrid table tfoot ul a:hover { text-decoration: none;border-color: #030303; color: #FFFFFF; background: none; background-color:#FEC133;}