body {
background-color:#2c98c7;
background-image:url(../../images/patterns/vertical_lines.png);
background-position:top center;
background-repeat:repeat;
background-attachment:scroll;
}

ul.top-menu > li > a:hover,ul.top-menu > li.hover-has-ul > a,ul.top-menu > li.hover-has-ul > a:hover,#topmess a:hover, #selectElement {
color:#fff !important;
}

ul.top-menu > li > a:hover,ul.top-menu > li.hover-has-ul > a,ul.top-menu > li.hover-has-ul > a:hover,ul.top-menu li.basic ul li a:hover,ul.top-menu li.basic ul li.current-cat > a:hover,ul.top-menu li.basic ul li.current_page_item > a:hover, #selectElement option {
background-color:#2c98c7 !important;
}

/* P a n d a   s l i d e r   t a b s */
.ps-1 .pnavbar span:hover {
color:#2c98c7;
border-top:3px solid #2c98c7;
}

.tag-cloud a:hover {
background:#2c98c7;
}

/* t 1   b u t t o n s */
.t1-button-holder a:hover span {
background-color:#8eaf00;
border-color:#8eaf00;
}

#subnav li.current a {
background:#8eaf00;
}

a:hover {
color:#2c98c7;
}

/* C u s t o m   p o s t s   c a t e g o r y  t a b s */
.ctabs a:hover {
border-top:3px solid #2c98c7;
color:#2c98c7;
}

a,#header h1.logo a strong,h2 a,h3 a,h4 a,h5 a,h6 a,li.kcurrent,.kul li:hover,li.current,#item-nav a:hover,#item-nav .selected a,#item-nav .current a {
color:#8eaf00;
}


.tgl-1 .ta {
color:#8eaf00;
}

.tgl-1.tclicked .ta {
background-color:#8eaf00;
}

.demo-W,.ps-1 .pnavbar span.pscurrent strong,.ctabs a.current span,a.bbutton2,#wp-calendar a,#searchform input#searchsubmit:hover,.feedemail-form .feedemail-button:hover,/* C u s t o m m e n u w i d g e t */
.widget ul.menu > li > a:hover {
background-color:#8eaf00;
}

.ps-1 .pnavbar span.pscurrent,.ctabs a.current {
border-top:3px solid #8eaf00;
color:#8eaf00;
}

.widget ul.menu > li > a:hover,.ps-1 .pnavbar span:hover strong,.ps-1 .pnavbar span.pscurrent:hover strong,.ctabs a:hover span,.ctabs a.current:hover span {
background-color:#2c98c7;
}