body {
background-color:#733d25;
background-image:url(../../images/patterns/vertical_lines_2.png);
background-position:top center;
background-repeat:repeat;
background-attachment:scroll;
}

ul.top-menu > li > a,#topmess,#topmess a,#topmess strong {
color:#f3f4ef;
}

ul.top-menu > li > a:hover,ul.top-menu > li.hover-has-ul > a,ul.top-menu > li.hover-has-ul > a:hover,#topmess a:hover,#selectElement {
color:#f3f4ef !important;
}

ul.top-menu > li.current-menu-item > a,ul.top-menu > li.current-menu-ancestor > a {
color:#fff;
background-color:#412318;
}

#menuwrapper,#searchform input#searchsubmit,.feedemail-form .feedemail-button,.pr-bar h3,.kul,.prdcts h3,.wp-pagenavi span.current,div.item-list-tabs,#selectElement option {
background-color:#5d3221;
}

.wp-pagenavi span.current {
border-color:#5d3221;
}

ul.top-menu > li > a:hover,ul.top-menu > li.hover-has-ul > a,ul.top-menu > li.hover-has-ul > a:hover,ul.top-menu li.basic ul li a:hover,ul.top-menu li.basic ul li.current-cat > a:hover,ul.top-menu li.basic ul li.current_page_item > a:hover {
background-color:#412318 !important;
}

ul.top-menu > li {
background:url(../../images/line-white-20.png) top right repeat-y;
}

ul.top-menu {
background-image:url(../../images/line-white-20.png);
}

#footerarea {
background-color:#DDDFD8;
}

#subfooter {
background-image:url(../../images/shadow.png);
height:39px;
}

/* P a n d a   s l i d e r   t a b s */
.ps-1 .pnavbar span:hover {
color:#4e2919;
border-top:3px solid #4e2919;
}

.tag-cloud a:hover {
background:#4e2919;
}

/* t 1   b u t t o n s */
.t1-button-holder a:hover span {
background-color:#764326;
border-color:#764326;
}

#subnav li.current a {
background:#764326;
}

a:hover {
color:#4e2919;
}

/* C u s t o m   p o s t s   c a t e g o r y  t a b s */
.ctabs a:hover {
border-top:3px solid #4e2919;
color:#4e2919;
}

body #copyrights * {
color:#FFF !important;
}

h1,h1 a,h2,h2 a,h3,h3 a,.it1 h3 a,.it2 h3 a,.it3 h3 a,h4,h4 a,h5,h5 a,h6,h6 a {
color:#442417;
}

a,#header h1.logo a strong,h2 a,h3 a,h4 a,h5 a,h6 a,li.kcurrent,.kul li:hover,li.current,#item-nav a:hover,#item-nav .selected a,#item-nav .current a {
color:#764326;
}

.tgl-1 .ta {
color:#764326;
}

.tgl-1.tclicked .ta {
background-color:#764326;
}

.demo-W,.ps-1 .pnavbar span.pscurrent strong,.ctabs a.current span,a.bbutton2,#wp-calendar a,#searchform input#searchsubmit:hover,.feedemail-form .feedemail-button:hover,/* C u s t o m m e n u w i d g e t */
.widget ul.menu > li > a:hover {
background-color:#764326;
}

.ps-1 .pnavbar span.pscurrent,.ctabs a.current {
border-top:3px solid #764326;
color:#764326;
}

.widget ul.menu > li > a:hover,.ps-1 .pnavbar span:hover strong,.ps-1 .pnavbar span.pscurrent:hover strong,.ctabs a:hover span,.ctabs a.current:hover span {
background-color:#4e2919;
}

.sidebar-wrapper {
background:#F6F7F2;
}

#before_product,
#after_product {
background-color:#E8E9E4;
}