body {
background-color:#e4dbca;
background-image:url(../../images/patterns/flower-pattern.png);
background-position:top center;
background-repeat:repeat;
background-attachment:fixed;
}

#sub1 {
background-image:none;
}

ul.top-menu > li > a,#topmess,#topmess a,#topmess strong,#selectElement {
color:#f6ebbd;
}

ul.top-menu > li > a:hover,ul.top-menu > li.hover-has-ul > a,ul.top-menu > li.hover-has-ul > a:hover,#topmess a:hover {
color:#fffbeb !important;
}

ul.top-menu > li.current-menu-item > a,ul.top-menu > li.current-menu-ancestor > a {
color:#fff;
background-color:#e1785a;
}

.wp-pagenavi span.current {
border-color:#bc284c;
}

ul.top-menu > li > a:hover,ul.top-menu > li.hover-has-ul > a,ul.top-menu > li.hover-has-ul > a:hover,ul.top-menu li.basic ul li a:hover,ul.top-menu li.basic ul li.current-cat > a:hover,ul.top-menu li.basic ul li.current_page_item > a:hover {
background-color:#e1785a !important;
}

ul.top-menu > li {
background:url(../../images/line-white-10.png) top right repeat-y;
}

ul.top-menu {
background-image:url(../../images/line-white-10.png);
}

#subfooter {
display:none;
}

/* titles */
h1,h2,h3,h4,h5,h6,/* pricing box header */
.pbox .pa *,/* misc titles */
.font-replace,.dropcap,.dropcap2 div div {
font-family:Georgia;
}

/* P a n d a   s l i d e r   t a b s */
.ps-1 .pnavbar span:hover {
color:#bc284c;
border-top:3px solid #bc284c;
}

.tag-cloud a:hover {
background:#bc284c;
}

/* t 1   b u t t o n s */
.t1-button-holder a:hover span {
background-color:#e1785a;
border-color:#e1785a;
}

#subnav li.current a {
background:#e1785a;
}

a:hover {
color:#bc284c;
}

/* C u s t o m   p o s t s   c a t e g o r y  t a b s */
.ctabs a:hover {
border-top:3px solid #bc284c;
color:#bc284c;
}

.sidebar-wrapper {
background-color:#f7f4ef;
}

body #copyrights * {
color:#231e15 !important;
}

#menuwrapper,#searchform input#searchsubmit,.feedemail-form .feedemail-button,.pr-bar h3,.kul,.prdcts h3,.wp-pagenavi span.current,div.item-list-tabs,.widget ul.menu > li > a:hover,.ps-1 .pnavbar span:hover strong,.ps-1 .pnavbar span.pscurrent:hover strong,.ctabs a:hover span,.ctabs a.current:hover span,#selectElement option {
background-color:#bc284c;
}

#footerarea,#before_product,#after_product {
background-color:#f0ece3;
}

h1,h1 a,h2,h2 a,h3,h3 a,.it1 h3 a,.it2 h3 a,.it3 h3 a,h4,h4 a,h5,h5 a,h6,h6 a {
color:#231e15;
}

a,#header h1.logo a strong,h2 a,h3 a,h4 a,h5 a,h6 a,li.kcurrent,.kul li:hover,li.current,#item-nav a:hover,#item-nav .selected a,#item-nav .current a {
color:#e1785a;
}

.tgl-1 .ta {
color:#e1785a;
}

.tgl-1.tclicked .ta {
background-color:#e1785a;
}

.demo-W,.ps-1 .pnavbar span.pscurrent strong,.ctabs a.current span,a.bbutton2,#wp-calendar a,#searchform input#searchsubmit:hover,.feedemail-form .feedemail-button:hover,/* C u s t o m m e n u w i d g e t */
.widget ul.menu > li > a:hover {
background-color:#e1785a;
}

.ps-1 .pnavbar span.pscurrent,.ctabs a.current {
border-top:3px solid #e1785a;
color:#e1785a;
}