<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings file="dev.config">
    <add key ="ScoringMode" value="Magic"/>

    <add key="Username" value="indianbridge.dummy@gmail.com"/>
    <add key="Password" value="kibitzer"/>
    <add key="GoogleSpreadsheetName" value="Winter Nationals 2011 RUIA Silver Qualification"/>
    <add key="UploadToSpreadsheet" value="false"/>
    <add key="UpdateFrequency" value="30000"/>

    <!-- This is for the score file -->
    <add key="TeamNumberStartPosition" value="8"/>
    <add key="TeamNumberStringLength" value="4"/>
    <add key="TeamScoreStartPosition" value="14"/>
    <add key="TeamScoreStringLength" value="3"/>
    <add key="LinesToSkip" value="2"/>

    <add key="InputFolder" value="F:\Bridge\IndianBridgeScripts\Nationals\Test Files\Swiss\Gymkhana\"/>
    <add key="OutputFolder" value="F:\Bridge\IndianBridgeScripts\Nationals\SwissLeagueScoring\"/>
    <add key ="MagicScoreFileName" value="magiccontest.htm"/>
    <add key ="MagicDrawFileName" value="magiccontest-1.htm"/>
    
    <add key="TemplateFolder" value="F:\Bridge\IndianBridgeScripts\BFAME_Scripts\SwissLeagueScoring\Templates"/>
    <add key="ItemBackgroundColor" value="#ee4"/>
    <add key="AlternatingItemBackgroundColor" value="cyan"/>
    <add key="EventName" value="RUIA Silver"/>
    <add key="Stage" value="Round Robin"/>
  </appSettings>
</configuration>
