<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings file="dev.config">
    <add key ="ScoringMode" value="Magic"/>

    <add key="Username" value="indianbridge.dummy@gmail.com"/>
    <add key="Password" value="kibitzer"/>
    <add key="GoogleSpreadsheetName" value="Winter Nationals 2011 RUIA Silver Qualification"/>
    <add key="UploadToSpreadsheet" value="false"/>

    <!-- This is for the score file -->
    <add key="TeamNumberStartPosition" value="7"/>
    <add key="TeamNumberStringLength" value="4"/>
    <add key="TeamScoreStartPosition" value="15"/>
    <add key="TeamScoreStringLength" value="2"/>

    <add key="InputFolder" value="F:\Bridge\IndianBridgeScripts\Nationals\Test Files\Swiss\Round X\"/>
    <add key="OutputFolder" value="F:\Bridge\IndianBridgeScripts\Nationals\SwissLeagueScoring\"/>
    <add key ="MagicScoreFileName" value="magiccontest.htm"/>
    <add key ="MagicDrawFileName" value="magiccontest-1.htm"/>
    
    <add key="TemplateFolder" value="F:\Bridge\IndianBridgeScripts\Nationals\SwissLeagueScoring\Templates"/>
    <add key="ItemBackgroundColor" value="cab"/>
    <add key="AlternatingItemBackgroundColor" value="fed"/>
    <add key="EventName" value="RUIA Gold"/>
    <add key="Stage" value="Round Robin"/>
  </appSettings>
</configuration>
