<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings file="dev.config">
    <add key="InputFolder" value="F:\Bridge\IndianBridgeScripts\Nationals\SwissLeagueScoring\"/>

    <add key="Username" value="indianbridge.dummy@gmail.com"/>
    <add key="Password" value="kibitzer"/>
    <add key="GoogleSpreadsheetName" value="Winter Nationals 2011 RUIA GOLD Qualification"/>

  </appSettings>
</configuration>
