body {
background-color:#30272d;
background-image:url(../../images/patterns/square.png);
background-position:top center;
background-repeat:repeat;
background-attachment:scroll;
}

ul.top-menu > li > a,#topmess,#topmess a,#topmess strong,#selectElement {
color:#f2edea;
}

ul.top-menu > li > a:hover,ul.top-menu > li.hover-has-ul > a,ul.top-menu > li.hover-has-ul > a:hover,#topmess a:hover {
color:#f2edea !important;
}

ul.top-menu > li.current-menu-item > a,ul.top-menu > li.current-menu-ancestor > a {
color:#fff;
background-color:#b0401b;
}

#menuwrapper,#searchform input#searchsubmit,.feedemail-form .feedemail-button,.pr-bar h3,.kul,.prdcts h3,.wp-pagenavi span.current,div.item-list-tabs,#selectElement option {
background-color:#2a2829;
}

.wp-pagenavi span.current {
border-color:#2a2829;
}

ul.top-menu > li > a:hover,ul.top-menu > li.hover-has-ul > a,ul.top-menu > li.hover-has-ul > a:hover,ul.top-menu li.basic ul li a:hover,ul.top-menu li.basic ul li.current-cat > a:hover,ul.top-menu li.basic ul li.current_page_item > a:hover {
background-color:#b0401b !important;
}

ul.top-menu > li {
background:url(../../images/line-white-10.png) top right repeat-y;
}

ul.top-menu {
background-image:url(../../images/line-white-10.png);
}

/* P a n d a   s l i d e r   t a b s */
.ps-1 .pnavbar span:hover {
color:#b0401b;
border-top:3px solid #b0401b;
}

.tag-cloud a:hover {
background:#b0401b;
}

/* t 1   b u t t o n s */
.t1-button-holder a:hover span {
background-color:#eb5426;
border-color:#eb5426;
}

#subnav li.current a {
background:#eb5426;
}

a:hover {
color:#b0401b;
}

/* C u s t o m   p o s t s   c a t e g o r y  t a b s */
.ctabs a:hover {
border-top:3px solid #b0401b;
color:#b0401b;
}

h1,h1 a,h2,h2 a,h3,h3 a,.it1 h3 a,.it2 h3 a,.it3 h3 a,h4,h4 a,h5,h5 a,h6,h6 a {
color:#2a2829;
}

a,#header h1.logo a strong,h2 a,h3 a,h4 a,h5 a,h6 a,li.kcurrent,.kul li:hover,li.current,#item-nav a:hover,#item-nav .selected a,#item-nav .current a {
color:#eb5426;
}

.tgl-1 .ta {
color:#eb5426;
}

.tgl-1.tclicked .ta {
background-color:#eb5426;
}

.demo-W,.ps-1 .pnavbar span.pscurrent strong,.ctabs a.current span,a.bbutton2,#wp-calendar a,#searchform input#searchsubmit:hover,.feedemail-form .feedemail-button:hover,/* C u s t o m m e n u w i d g e t */
.widget ul.menu > li > a:hover {
background-color:#eb5426;
}

.ps-1 .pnavbar span.pscurrent,.ctabs a.current {
border-top:3px solid #eb5426;
color:#eb5426;
}

.widget ul.menu > li > a:hover,.ps-1 .pnavbar span:hover strong,.ps-1 .pnavbar span.pscurrent:hover strong,.ctabs a:hover span,.ctabs a.current:hover span {
background-color:#b0401b;
}