body {
background-color:#ff634d;
background-image:url(../../images/patterns/vertical_lines_2.png);
background-position:top center;
background-repeat:repeat;
background-attachment:scroll;
}

ul.top-menu > li > a,#topmess,#topmess a,#topmess strong,#selectElement {
color:#f4f0ed;
}

ul.top-menu > li > a:hover,ul.top-menu > li.hover-has-ul > a,ul.top-menu > li.hover-has-ul > a:hover,#topmess a:hover {
color:#f4f0ed !important;
}

ul.top-menu > li.current-menu-item > a,ul.top-menu > li.current-menu-ancestor > a {
color:#fff;
background-color:#db3923;
}

.wp-pagenavi span.current {
border-color:#392d2d;
}

ul.top-menu > li > a:hover,ul.top-menu > li.hover-has-ul > a,ul.top-menu > li.hover-has-ul > a:hover,ul.top-menu li.basic ul li a:hover,ul.top-menu li.basic ul li.current-cat > a:hover,ul.top-menu li.basic ul li.current_page_item > a:hover {
background-color:#5c4e4d !important;
}

#subfooter {
background-image:url(../../images/shadow.png);
height:39px;
}

#footer h1,#footer h2,#footer h3,#footer h4,#footer h,#footer h5,#footer h6,#footer .dropcap {
color:#fff;
}

#footerarea,#footerarea li,#footerarea p,#footerarea td,#footerarea th,#footerarea span,#footerarea div,#footerarea #wp-calendar tbody a {
color:#ab9a9a;
}

/* P a n d a   s l i d e r   t a b s */
.ps-1 .pnavbar span:hover {
color:#ff5c46;
border-top:3px solid #ff5c46;
}

.tag-cloud a:hover {
background:#ff5c46;
}

/* t 1   b u t t o n s */
.t1-button-holder a:hover span {
background-color:#db3923;
border-color:#db3923;
}

#subnav li.current a {
background:#db3923;
}

a:hover {
color:#ff5c46;
}

/* C u s t o m   p o s t s   c a t e g o r y  t a b s */
.ctabs a:hover {
border-top:3px solid #ff5c46;
color:#ff5c46;
}

#site-wrapper {
background-position:left -100px;
}

#menuwrapper,#searchform input#searchsubmit,.feedemail-form .feedemail-button,.pr-bar h3,.kul,.prdcts h3,.wp-pagenavi span.current,div.item-list-tabs,#footerarea,#selectElement option {
background-color:#392d2d;
}

h1,h1 a,h2,h2 a,h3,h3 a,.it1 h3 a,.it2 h3 a,.it3 h3 a,h4,h4 a,h5,h5 a,h6,h6 a {
color:#4c3e3d;
}

a,#header h1.logo a strong,h2 a,h3 a,h4 a,h5 a,h6 a,li.kcurrent,.kul li:hover,li.current,#item-nav a:hover,#item-nav .selected a,#item-nav .current a {
color:#db3923;
}

.tgl-1 .ta {
color:#db3923;
}

.tgl-1.tclicked .ta {
background-color:#db3923;
}

.demo-W,.ps-1 .pnavbar span.pscurrent strong,.ctabs a.current span,a.bbutton2,#wp-calendar a,#searchform input#searchsubmit:hover,.feedemail-form .feedemail-button:hover,/* C u s t o m m e n u w i d g e t */
.widget ul.menu > li > a:hover {
background-color:#db3923;
}

.ps-1 .pnavbar span.pscurrent,.ctabs a.current {
border-top:3px solid #db3923;
color:#db3923;
}

.widget ul.menu > li > a:hover,.ps-1 .pnavbar span:hover strong,.ps-1 .pnavbar span.pscurrent:hover strong,.ctabs a:hover span,.ctabs a.current:hover span {
background-color:#ff5c46;
}