<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="TotalNumberOfTeams" value="5"/>
    <add key="EventName" value="Open Teams"/>
    <add key="NumberOfBoardsPerRound" value="5"/>
    <add key="OutputFolder" value="B:\Vijay\Bridge\Bfame\BridgeMateRunningScores\Output"/>
    <add key="TemplateFolder" value="B:\Vijay\Bridge\Bfame\BridgeMateRunningScores\Templates"/>
    <add key="InputFolder" value="B:\Vijay\Bridge\Bfame\ButlerSample\"/>
    <add key="RunningScoreFileName" value="magiccontest-o-1.htm"/>
    <add key="ButlerFileName" value="magiccontest-ob"/>
    <add key="ImagesRoot" value="http://indianbridgefiles.appspot.com/images/Suit_Symbols/"/>
    <add key="RunningScoresRoot" value="../"/>
    <add key="TeamLinkTemplate" value="https://sites.google.com/site/2011bfame/results-1/open-teams---league/team[#TeamNumber#]score"/>
    <add key="BoardLinkTemplate" value="open/round[#RoundNumber#]/board-[#BoardNumber#]"/>
    <add key="ButlerRoundLinkTemplate" value="open/round[#RoundNumber#]/butlerscores"/>
    <add key="CumulativeButlerScoresFile" value="B:\Vijay\Bridge\Bfame\BridgeMateRunningScores\Templates\ButlerResults.csv"/>
  </appSettings>
</configuration>