<tr>
<td align="center" width="10%" style="font-size:xx-large;padding:4px 5px;background-color:[#BackgroundColor#];border-bottom:1px solid #cef">[#TableNumber#]</td>
<td width="20%" style="font-size:xx-large;padding:4px 5px;background-color:[#BackgroundColor#];border-bottom:1px solid #cef">[#HomeTeamNumber#] - [#HomeTeamName#]</td>
<td align="center" width="10%" style="font-size:xx-large;padding:4px 5px;background-color:[#BackgroundColor#];border-bottom:1px solid #cef">[#HomeTeamIMPScore#] - [#AwayTeamIMPScore#]</td>
<td align="center" width="10%" style="font-size:xx-large;padding:4px 5px;background-color:[#BackgroundColor#];border-bottom:1px solid #cef">[#HomeTeamVPScore#] - [#AwayTeamVPScore#]</td>
<td width="20%" style="font-size:xx-large;padding:4px 5px;background-color:[#BackgroundColor#];border-bottom:1px solid #cef">[#AwayTeamNumber#] - [#AwayTeamName#]</td>
</tr>
