/*-- SEARCH DEFAULT + Subscribe widget -----------------------------------------------*/

.feedemail-input {
	margin:5px 0 0 25px;
	}

#icons {
	display:inline-block !important;
	}


/*-- PANDA SLIDER -----------------------------------------------*/

.pslider img, .slide-img {
	display:block !important;
	}