<h2>[#EventName#] ([#Stage#]) : Running Scores & Board Results for [#SegmentNumber#]</h2>
<h5>Page Updated [#TimeStamp#] (Page is updated every 3 minutes) </h5> 
<table style="">
<tbody>
<tr>
<td valign="top">
<table style="border:1px solid #cef;text-align:left">
<thead>
<tr>
<th style="font-weight:bold;background-color:#acf;border-bottom:1px solid #cef;padding:4px 5px">Table</th>
<th style="font-weight:bold;background-color:#acf;border-bottom:1px solid #cef;padding:4px 5px"># Boards</th>
<th style="font-weight:bold;background-color:#acf;border-bottom:1px solid #cef;padding:4px 5px">Home Team</th>
<th style="font-weight:bold;background-color:#acf;border-bottom:1px solid #cef;padding:4px 5px">IMP Score</th>
<th style="font-weight:bold;background-color:#acf;border-bottom:1px solid #cef;padding:4px 5px">VP Score</th>
<th style="font-weight:bold;background-color:#acf;border-bottom:1px solid #cef;padding:4px 5px">Away Team</th>
</tr>
</thead>
<tbody>
[#Scores#]
</tbody>
</table>
</td>
<td width="100"></td>
<td>
<table style="border:1px solid #cef;text-align:left">
<thead>
<tr>
<th style="font-weight:bold;background-color:#acf;border-bottom:1px solid #cef;padding:4px 5px">Board-Wise Results</th>
</tr>
</thead>
<tbody>
[#Boards#]
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
