<?xml version="1.0"?>
<configuration>
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <appSettings>
	<add key="username" value="vdevadass"/>
	<add key="rootFolderDefault" value="F:\Bridge\TourneyResults\WinterNationals\"/>
	<add key="site" value="http://bfi.net.in/"/>
  </appSettings>
</configuration>
