<tr>
<td style="padding:4px 5px;background-color:#def;border-bottom:1px solid #cef">[#Rank#]</td>
<td style="padding:4px 5px;background-color:#def;border-bottom:1px solid #cef">[#PairNumber#] : [#PairName#]</td>
<td style="padding:4px 5px;background-color:#def;border-bottom:1px solid #cef">[#RoundScore#]</td>
<td style="padding:4px 5px;background-color:#def;border-bottom:1px solid #cef">[#TotalScore#]</td>
<td style="padding:4px 5px;background-color:#def;border-bottom:1px solid #cef">[#RoundPenalty#]</td>
<td style="padding:4px 5px;background-color:#def;border-bottom:1px solid #cef">[#PercentScore#] %</td>
</tr>
