<h2>[#EventName#] ([#Stage#]) : Running Scores & Board Results</h2>
<h3>Round in progress: [#RoundNumber#]</h3>
<h5>Page Updated [#TimeStamp#] (Page is updated every 1 minute) </h5> 
<table style="">
<tbody>
<tr>
<td valign="top">
<table style="border:1px solid #cef;text-align:left">
<thead>
<tr>
<th style="font-weight:bold;background-color:#acf;border-bottom:1px solid #cef;padding:4px 5px">Rank</th>
<th style="font-weight:bold;background-color:#acf;border-bottom:1px solid #cef;padding:4px 5px">Pair</th>
<th style="font-weight:bold;background-color:#acf;border-bottom:1px solid #cef;padding:4px 5px">Round Score</th>
<th style="font-weight:bold;background-color:#acf;border-bottom:1px solid #cef;padding:4px 5px">Total Score</th>
<th style="font-weight:bold;background-color:#acf;border-bottom:1px solid #cef;padding:4px 5px">Round Penalty</th>
<th style="font-weight:bold;background-color:#acf;border-bottom:1px solid #cef;padding:4px 5px">% Score</th>
</tr>
</thead>
<tbody>
[#Scores#]
</tbody>
</table>
</td>
<td width="100"></td>
<td valign="top">
<table style="border:1px solid #cef;text-align:left">
<thead>
<tr>
<th style="font-weight:bold;background-color:#acf;border-bottom:1px solid #cef;padding:4px 5px">Board-Wise Results</th>
</tr>
</thead>
<tbody>
[#Boards#]
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
