<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings file="dev.config">
    <!-- Constants that should only be changed by developers -->
    <add key="ImagesRoot" value="http://indianbridgefiles.appspot.com/images/Suit_Symbols/"/>
    <add key="SuitSymbolsSuffix" value="-large.gif"/>
    <add key="RunningScoresRoot" value="../"/>
    <add key="BoardLinkTemplate" value="[#Path#]/board-[#BoardNumber#]"/>
    <add key="ButlerRoundLinkTemplate" value="[#Path#]/butlerscores"/>
    <add key="TemplateFolder" value="Templates"/>
    <add key="RunUpdateGoogleSite" value="false"/>
    <add key="RunUpdateGoogleSpreadsheet" value="false"/>
    <add key="UseButlerScores" value="true"/>
    <!-- Value in milli-seconds -->
    <add key="UpdateFrequency" value="300000"/>
    <add key="DebugMode" value="false"/>
    <add key="RunOnce" value="false"/>

    <!-- Stuff that is constant for a given tournament -->
    <add key="GoogleSiteName" value="winternationals2011test"/>
    <add key="GoogleRunningScoresRoot" value="/scores"/>
    <add key="GoogleButlerScoresRoot" value="/results/butler-scores"/>
    <add key="GooglePlayoffsRoot" value="/running-scores/playoffs"/>
    <add key="GoogleButlerPlayoffsRoot" value="/butler-scores/finals"/>
    <add key="Username" value="indianbridge.dummy@gmail.com"/>
    <add key="Password" value="kibitzer"/>
    
    <!-- Settings that are read from spreadsheet. Provide here as a backup if spreadsheet cannot be read -->
    <!-- If spreadsheet is not available, provide team names-numbers mapping in TeamNames.csv file in InputFolder 
    This file will have 2 columns: Team Number and Name. First row should be header. Team number is the value in spreadsheet -->
    <add key="TotalNumberOfTeams" value="10"/>
    <add key="EventName" value="RUIA Gold"/>
    <add key="NumberOfBoardsPerRound" value="10"/>

    <!-- Constants for an event within the tournament -->
    <add key="InputFolder" value="B:\Vijay\Bridge\Bfame\DryRun"/>
    <add key="OutputFolder" value="F:\Bridge\IndianBridgeScripts\Nationals\Test Files\SuperSwiss_R1S1"/>
    <add key="BackupFolder" value="F:\Bridge\IndianBridgeScripts\Nationals\ScoresBackup"/>
    <add key="GoogleSpreadsheetName" value="Winter Nationals 2011 RUIA Gold Pre-Quarters"/>
    <add key="RunningScoresFileName" value="ruia-gold-pre-quarters"/>
    <add key="ButlerScoresFileName" value="ruia-gold-pre-quarters"/>
    <add key="RunningScoreFileName" value="magiccontest-f-1.htm"/>
    <add key="ButlerFileName" value="magiccontest-fb"/>
    <add key="HasCarryOver" value="false"/>
    <add key="NumberOfSegmentsPerRound" value="2"/>
    <!-- What stage of the event are we currently in. Use Round-Robin for league -->
    <add key="Stage" value="Round-Robin"/>
    <add key="TeamLinkTemplate" value="https://sites.google.com/site/2011winternationals/results/ruia-gold-pre-quarters/team[#TeamNumber#]score"/>

    <!-- Set to true if we are in playoff mode -->
    <!-- Note that if we change Playoffs mode value, we should also change the following params: 
    Stage, NumberOfBoardsPerSegment, TotalNumberOfTeams and possibly GoogleRunningScoresRoot & GoogleButlerScoresRoot,  -->
    <add key="Playoffs" value="false"/>
    <!-- This is particular to playoff (in case it's different than RR) -->
    <!-- Should be eventually read from spreadsheet -->
    <add key="NumberOfBoardsPerSegment" value="10"/>

    <!-- Settings for cross-event butler computation -->
    <add key="GenerateCrossEventButlerScore" value="false"/>
    <!-- Provide path to CSV files separated by ; -->
    <add key="CrossEventButlerFilesPath" value="B:\Vijay\Bridge\Bfame\DryRun\CumulativeButlerResults.csv"/>
    <add key="TournamentName" value="Winter Nationals 2011"/>

    <add key="StartTableNumber" value="1"/>
    <add key="BoardResultFont" value="FONT face='Verdana, Arial, Helvetica' size=3 color=white"/>
    <add key="BoardResultFontBold" value="true"/>

  </appSettings>
</configuration>