<appSettings>
  <add key="TemplateFolder" value="F:\Bridge\IndianBridgeScripts\BFAME_Scripts\TeamRunningScores\Templates"/>
  <add key="DebugMode" value="true"/>
  <add key="RunUpdateGoogleSpreadsheet" value="true"/>
  <add key="RunUpdateGoogleSite" value="true"/>
	<add key="InputFolder" value="F:\Bridge\IndianBridgeScripts\Nationals\\RuiaSilverFinal\R11" />
  <add key="Stage" value="Finals"/>
  <add key="Playoffs" value="false"/>
  <add key="RunOnce" value="false"/>
  <add key="OutputFolder" value="F:\Bridge\IndianBridgeScripts\Nationals\Scores"/>
  <add key="ButlerFileName" value="magiccontest-g"/>
  <add key="RunningScoreFileName" value="magiccontest-1.htm"/>
  <add key="UseButlerScores" value="false"/>
</appSettings>