<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings file="dev.config">
    <!-- Constants that should only be changed by developers -->
    <add key="ImagesRoot" value="http://indianbridgefiles.appspot.com/images/Suit_Symbols/"/>
    <add key="RunningScoresRoot" value="../"/>
    <add key="BoardLinkTemplate" value="round[#SegmentNumber#]/board-[#BoardNumber#]"/>
    <add key="ButlerRoundLinkTemplate" value="round[#SegmentNumber#]/butlerscores"/>
    <add key="TemplateFolder" value="Templates"/>
    <add key="RunUpdateGoogleSite" value="true"/>
    <add key="RunUpdateGoogleSpreadsheet" value="true"/>
    <!-- Value in milli-seconds -->
    <add key="UpdateFrequency" value="20000"/>
    <add key="DebugMode" value="false"/>
    <add key="RunOnce" value="false"/>

    <!-- Stuff that is constant for a given tournament -->
    <add key="GoogleSiteName" value="2011bfame"/>
    <add key="GoogleRunningScoresRoot" value="/running-scores"/>
    <add key="GoogleButlerScoresRoot" value="/butler-scores"/>
    <add key="Username" value="indianbridge.dummy@gmail.com"/>
    <add key="Password" value="kibitzer"/>
    
    <!-- Settings that are read from spreadsheet. Provide here as a backup if spreadsheet cannot be read -->
    <!-- If spreadsheet is not available, provide team names-numbers mapping in TeamNames.csv file in InputFolder 
    This file will have 2 columns: Team Number and Name. First row should be header. Team number is the value in spreadsheet -->
    <add key="TotalNumberOfTeams" value="4"/>
    <add key="EventName" value="BFAME Open Teams"/>
    <add key="NumberOfBoardsPerRound" value="16"/>

    <!-- Constants for an event within the tournament -->
    <add key="InputFolder" value="B:\Vijay\Bridge\Bfame\DryRun"/>
    <add key="OutputFolder" value="B:\Vijay\Bridge\Bfame\GeneratedFiles"/>
    <add key="GoogleSpreadsheetName" value="BFAME 2011 Open Teams Results"/>
    <add key="RunningScoresFileName" value="open"/>
    <add key="ButlerScoresFileName" value="open"/>
    <add key="RunningScoreFileName" value="magiccontest-w-1.htm"/>
    <add key="ButlerFileName" value="magiccontest-wb"/>
    <!-- What stage of the event are we currently in. Use Round-Robin for league -->
    <add key="Stage" value="Round-Robin"/>
    <add key="TeamLinkTemplate" value="https://sites.google.com/site/2011bfame/results-1/open-teams---league/team[#TeamNumber#]score"/>

    <!-- Set to true if we are in playoff mode -->
    <!-- Note that if we change Playoffs mode value, we should also change the following params: 
    Stage, NumberOfBoardsPerSegment, TotalNumberOfTeams and possibly GoogleRunningScoresRoot & GoogleButlerScoresRoot,  -->
    <add key="Playoffs" value="false"/>
    <!-- This is particular to playoff (in case it's different than RR) -->
    <!-- Should be eventually read from spreadsheet -->
    <add key="NumberOfBoardsPerSegment" value="16"/>

    <!-- Settings for cross-event butler computation -->
    <add key="GenerateCrossEventButlerScore" value="false"/>
    <!-- Provide path to CSV files separated by ; -->
    <add key="CrossEventButlerFilesPath" value="B:\Vijay\Bridge\Bfame\DryRun\CumulativeButlerResults.csv"/>
    <add key="TournamentName" value="BFAME"/>

    <add key="StartTableNumber" value="4"/>

  </appSettings>
</configuration>