<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="TotalNumberOfTeams" value="5"/>
    <add key="EventName" value="Open Teams"/>
    <add key="NumberOfBoardsPerRound" value="5"/>
    <add key="OutputFolder" value="C:\Documents and Settings\snarasim\My Documents\Bridge\indian-bridge-scripts\BFAME_Scripts\BridgeMateRunningScores\Output"/>
    <add key="TemplateFolder" value="C:\Documents and Settings\snarasim\My Documents\Bridge\indian-bridge-scripts\BFAME_Scripts\BridgeMateRunningScores\Templates"/>
    <add key="InputFolder" value="C:\Documents and Settings\snarasim\My Documents\Bridge\indian-bridge-scripts\BFAME_Scripts\BridgeMateRunningScores\Inputfiles"/>
    <add key="RunningScoreFileName" value="magiccontest-o-1.htm"/>
    <add key="ButlerFileName" value="magiccontest-ob"/>
    <add key="ImagesRoot" value="http://indianbridgefiles.appspot.com/images/Suit_Symbols/"/>
    <add key="RunningScoresRoot" value="../"/>
    <add key="TeamLinkTemplate" value="https://sites.google.com/site/2011bfame/results-1/open-teams---league/team[#TeamNumber#]score"/>
    <add key="BoardLinkTemplate" value="round[#RoundNumber#]/board-[#BoardNumber#]"/>
    <add key="ButlerRoundLinkTemplate" value="round[#RoundNumber#]/butlerscores"/>
    <add key="CumulativeButlerScoresFile" value="C:\Documents and Settings\snarasim\My Documents\Bridge\indian-bridge-scripts\BFAME_Scripts\BridgeMateRunningScores\Templates\ButlerResults.csv"/>
    <add key="Username" value="indianbridge.dummy@gmail.com"/>
    <add key="Password" value="kibitzer"/>
    <add key="GoogleSpreadsheetName" value="BFAME 2011 Open Teams Results"/>
    <add key="GoogleSiteName" value="2011bfame"/>
    <add key="GoogleRunningScoresRoot" value="/running-scores"/>
    <add key="GoogleButlerScoresRoot" value="/butler-scores"/>
    <add key="RunningScoresFileName" value="open"/>
    <add key="ButlerScoresFileName" value="open"/>
    <add key="DoUpdates" value="true"/>
  </appSettings>
</configuration>