<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings file="dev.config">
    <!-- This is for the magiccontest file -->
    <add key="RankStartPosition" value="1"/>
    <add key="RankStringLength" value="4"/>
    <add key="PairNumberStartPosition" value="7"/>
    <add key="PairNumberStringLength" value="4"/>
    <add key="CumulativeScoreStartPosition" value="13"/>
    <add key="CumulativeScoreStringLength" value="5"/>
    <add key="PercentScoreStartPosition" value="18"/>
    <add key="PercentScoreStringLength" value="5"/>
    <add key="RoundScoreStartPosition" value="26"/>
    <add key="RoundScoreStringLength" value="4"/>
    <add key="PairNameStartPosition" value="32"/>
    <add key="PairNameStringLength" value="37"/>
    <add key="PenaltyStartPosition" value="70"/>
    <add key="PenaltyStringLength" value="5"/>

    <add key="RunOnce" value="true"/>
    <add key="ImagesRoot" value="http://indianbridgefiles.appspot.com/images/Suit_Symbols/"/>
    <add key="BoardLinkTemplate" value="[#Path#]/round[#RoundNumber#]/board-[#BoardNumber#]"/>
    <add key="DebugMode" value="true"/>
    <add key="RunUpdateGoogleSite" value="true"/>
    <add key="RunningScoresRoot" value="holkar"/>
    <add key="RunningScoreFileName" value="magiccontest"/>
    <add key="RunningScoresRoot" value="holkar"/>
    <add key="InputFolder" value="F:\Bridge\IndianBridgeScripts\Nationals\Test Files\Pairs\R2"/>
    <add key="OutputFolder" value="F:\Bridge\IndianBridgeScripts\Nationals\Holkar"/>
    <add key="TemplateFolder" value="F:\Bridge\IndianBridgeScripts\BFAME_Scripts\PairRunningScores\Templates"/>
    <add key="EventName" value="Holkar"/>
    <add key="Stage" value="Finals"/>
    <add key="NumberOfBoardsPerRound" value="2"/>
    <add key="TotalNumberOfPairs" value="32"/>
    <add key="BoardResultFont" value="FONT face='Verdana, Arial, Helvetica' size=4 color=white"/>
    <add key="BoardResultFontBold" value="true"/>
    <add key="GoogleSiteName" value="winternationals2011test"/>
    <add key="GoogleRunningScoresRoot" value="/scores"/>
    <add key="Username" value="indianbridge.dummy@gmail.com"/>
    <add key="Password" value="kibitzer"/>
    <add key="UpdateFrequency" value="60000"/>
    <add key="SuitSymbolsSuffix" value="-larger.gif"/>
  </appSettings>
</configuration>