<h2>[#EventName#] ([#Stage#]) : Butler Scores for [#SegmentNumber#]</h2>
<h5>Page Updated [#TimeStamp#]</h5>
<a href='[#ButlerScoresRoot#]'>Back to Cumulative Butler Scores</a><br/><br/>
<table>
<tbody>
<tr>
<td valign="top">
<table style="border:1px solid #cef;text-align:left">
<thead>
<tr>
<th style="font-weight:bold;background-color:#acf;border-bottom:1px solid #cef;padding:4px 5px">Pair</th>
<th style="font-weight:bold;background-color:#acf;border-bottom:1px solid #cef;padding:4px 5px"># Boards Played</th>
<th style="font-weight:bold;background-color:#acf;border-bottom:1px solid #cef;padding:4px 5px">Total Cross-Imps</th>
<th style="font-weight:bold;background-color:#acf;border-bottom:1px solid #cef;padding:4px 5px">Average Cross-Imps</th>
</tr>
</thead>
<tbody>
[#Scores#]
</tbody>
</table>
</td>
</tr>
</tbody>
</table>

