<tr>
<td style="padding:4px 5px;background-color:#def;border-bottom:1px solid #cef">[#TableNumber#]</td>
<td style="padding:4px 5px;background-color:#def;border-bottom:1px solid #cef">[#CompletedBoards#]</td>
<td style="padding:4px 5px;background-color:#def;border-bottom:1px solid #cef"><a href="[#HomeTeamLink#]">[#HomeTeam#]</a></td>
<td style="padding:4px 5px;background-color:#def;border-bottom:1px solid #cef">[#IMPScore#]</td>
<td style="padding:4px 5px;background-color:#def;border-bottom:1px solid #cef">[#VPScore#]</td>
<td style="padding:4px 5px;background-color:#def;border-bottom:1px solid #cef"><a href="[#AwayTeamLink#]">[#AwayTeam#]</a></td>
</tr>
